html, body {
  width: 100%; 
  min-height: 100vh;
}

body {
  background-color: black; 
  color: #dbdbdb; 
  font-family: Arial, Helvetica, sans-serif	;
}

*, * * {
  outline: 1px dashed greenyellow;
}

#viewports {
  display: flex;
  flex-direction: row;
  width: auto;
  min-height: 100vh;
}


.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#windowOverall {
  background-color: aqua;
}

#windowProjection {
  background-color: magenta;
}

#sceneStat {
  bottom: 20px;
  position: fixed;
  background-color: #ffffff3b;
  padding: .4rem .2rem;
  max-width: 400px;
  right: 20px;
}

/* 
input[type='range'] {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
} */