html, body {width: 100%; min-height: 100vh;}
body {background-color: black; color: #dbdbdb; font-family: Arial, Helvetica, sans-serif	;}

#sceneStat {
  bottom: 20px;
  position: absolute;
  background-color: #ffffff3b;
  padding: .4rem .2rem;
  max-width: 400px;
  right: 20px;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#viewOverall {
  background-color: aqua;
  width: 200px;
  height: 150px;
}

#viewProjection {
  background-color: magenta;
  width: 200px;
  height: 150px;
}

/* 
input[type='range'] {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
} */